C:\Users\Linc\MinecraftProjects\primaMod\build\*
C:\Users\Linc\MinecraftProjects\primaMod\source\*
C:\Users\Linc\MinecraftProjects\primaMod\out\*

C:\Users\Linc\MinecraftProjects\primaMod\primaMod.iml
C:\Users\Linc\MinecraftProjects\primaMod\gradlew.bat
C:\Users\Linc\MinecraftProjects\primaMod\gradlew
C:\Users\Linc\MinecraftProjects\primaMod\build.gradle